@font-face {
  font-family: "Daedra";
  src: url("fonts/Daedra.otf");
}
@font-face {
  font-family: "Etro";
  src: url("fonts/Etro.ttf");
}
@font-face {
  font-family: "Harpers";
  src: url("fonts/Harpers.otf");
}
@font-face {
  font-family: "Rune";
  src: url("fonts/Rune.ttf");
}